Ai Test.json
{
  "name": "Ai Test",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9d3a4556-f28e-47ef-aa99-3cda9b3204ef",
              "leftValue": "={{ $json.Email }}",
              "rightValue": "n8n.io",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        0
      ],
      "id": "b927f4db-4b84-4689-a595-32a2e93ebc91",
      "name": "is n8n.io email"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f2b8daee-344e-4a8e-9710-3c57866a8860",
              "name": "isTrusted",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        -96
      ],
      "id": "86de4bce-89d6-4724-9362-9301d3e42f48",
      "name": "isTrusted.true"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f2b8daee-344e-4a8e-9710-3c57866a8860",
              "name": "isTrusted",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        464,
        96
      ],
      "id": "b38792f9-a960-4033-9094-3ab2a3936914",
      "name": "isTrusted.false"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        672,
        -32
      ],
      "id": "4a8ae130-5f19-4d26-8eb4-2a988b5ff0ad",
      "name": "ref"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        816,
        176
      ],
      "id": "af12aec5-3671-4311-a0da-4f9cc28b2978",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "5XepJH845AHaCd8Q",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the following question and answer and output relevant tags\n\nQuestion:{{ $json.Question }}\nAnswer:{{ $json.Answer }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are a content tagging expert. Your task is to analyze Question and Answer submission and generate relevant,descriptive tags that categories the content based  on topic,key concepts, and technical items. Always provide 4-8 tags as a comma saparated list. Keep tags short and focused in individual length.\n\nExample output:\nparner, partnership, agency, external contractors, lead referral"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        880,
        -32
      ],
      "id": "c7128231-03a5-4978-8267-92dc89a56fef",
      "name": "Add tags"
    },
    {
      "parameters": {
        "formTitle": "AI Submission",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name"
            },
            {
              "fieldLabel": "Email"
            },
            {
              "fieldLabel": "Question"
            },
            {
              "fieldLabel": "Answer",
              "fieldType": "textarea"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        0,
        0
      ],
      "id": "fc2d98e9-c90a-4890-b33d-cad734562aea",
      "name": "Ai",
      "webhookId": "4a73d8c5-dacf-4c50-8102-c480b0ea5f83"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "wzwlsmvHTyFqmavc",
          "mode": "list",
          "cachedResultName": "ai",
          "cachedResultUrl": "/projects/OrrZAoxhptxAw6yH/datatables/wzwlsmvHTyFqmavc"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "isTrusted": "={{ $('ref').item.json.isTrusted }}",
            "Tags": "={{ $json.text }}",
            "Name": "={{ $('ref').item.json.Name }}",
            "Email": "={{ $('ref').item.json.Email }}",
            "Question": "={{ $('ref').item.json.Question }}",
            "Answer": "={{ $('ref').item.json.Answer }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Question",
              "displayName": "Question",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Answer",
              "displayName": "Answer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Tags",
              "displayName": "Tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "isTrusted",
              "displayName": "isTrusted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1232,
        -32
      ],
      "id": "ac0896d3-a62e-4049-8f0b-a76d990fee03",
      "name": "Insert row"
    }
  ],
  "pinData": {
    "Ai": [
      {
        "json": {
          "Name": "Marvel Automator",
          "Email": "marvelmikel5625@gmail.com",
          "Question": "How do i become an n8n ambassador",
          "Answer": "All community members of n8n are able to apply to become an ambassador. More details on this page:\r\nhttps://www.notion.so/n8n/Become-an-n8n-ambassador-d883b2a130e5448faedbebe5139187ea",
          "submittedAt": "2026-03-03T02:46:57.127+01:00",
          "formMode": "test"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "is n8n.io email": {
      "main": [
        [
          {
            "node": "isTrusted.true",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "isTrusted.false",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isTrusted.true": {
      "main": [
        [
          {
            "node": "ref",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isTrusted.false": {
      "main": [
        [
          {
            "node": "ref",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ref": {
      "main": [
        [
          {
            "node": "Add tags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Add tags",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Add tags": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ai": {
      "main": [
        [
          {
            "node": "is n8n.io email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "eab9deb7-4dc3-4924-a845-961092477090",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5bfff7df865cbe8f1ba739e48ec646b8515e7899237f6ca557a11a27d40be9da"
  },
  "id": "QrESuqlhFv7f8JOY",
  "tags": []
}